<!DOCTYPE html>
<html>
  <head>
    <title>TriviaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
        <ul>
        <li>Home</li>
        <li>Games</li>
        <li>Categories</li>
        <li>Profile</li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
